.animated{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeInImg1 {
	from {
		opacity: 0;
		left: -400px;
		top: -400px;
	}
	to {
		opacity: 1;
		left: 0px;
		top: 0px;
	}
}

@keyframes fadeInImg1 {
	from {
		opacity: 0;
		left: -400px;
		top: -400px;
	}
	to {
		opacity: 1;
		left: 0px;
		top: 0px;
	}
}

.fadeInImg1{
	-webkit-animation-name: fadeInImg1;
	animation-name: fadeInImg1;
}
@-webkit-keyframes fadeInImg2 {
	from {
		opacity: 0;
		right: -400px;
		top: -400px;
	}
	to {
		opacity: 1;
		right: 0;
		top: 0px;
	}
}

@keyframes fadeInImg2 {
	from {
		opacity: 0;
		right: -400px;
		top: -400px;
	}
	to {
		opacity: 1;
		right: 0;
		top: 0px;
	}
}
.fadeInImg2 {
	-webkit-animation-name: fadeInImg2;
	animation-name: fadeInImg2;
	
}

@-webkit-keyframes fadeInImg3 {
	from {
		opacity: 0;
		right: -400px;
		top: 150px;
		
	}
	to {
		opacity: 1;
		right: 0px;
		top: 150px;
	}
}

@keyframes fadeInImg3 {
	from {
		opacity: 0;
		right: -400px;
		top: 155px;
	
	}
	to {
		opacity: 1;
		right: 0px;
		top: 155px;
	}
}
.fadeInImg3 {
	-webkit-animation-name: fadeInImg3;
	animation-name: fadeInImg3;
	
}


@-webkit-keyframes fadeInImg4 {
	from {
		opacity: 0;
		left: -400px;
		bottom: -400px;
	}
	to {
		opacity: 1;
		left: 0px;
		bottom: 0;
	}
}

@keyframes fadeInImg4 {
	from {
		opacity: 0;
		left: -400px;
		bottom: -400px;
	}
	to {
		opacity: 1;
		left: 0px;
		bottom: 0;
	}
}
.fadeInImg4 {
	-webkit-animation-name: fadeInImg4;
	animation-name: fadeInImg4;
	
}

@-webkit-keyframes fadeInImg5 {
	from {
		opacity: 0;
		left: 300px;
		bottom: -400px;
	}
	to {
		opacity: 1;
		left: 300px;
		bottom: 0;
	}
}

@keyframes fadeInImg5 {
	from {
		opacity: 0;
		left: 270px;
		bottom: -400px;
	}
	to {
		opacity: 1;
		left: 270px;
		bottom: 0;
	}
}
.fadeInImg5 {
	-webkit-animation-name: fadeInImg5;
	animation-name: fadeInImg5;
	
}
@-webkit-keyframes fadeInImg6 {
	from {
		opacity: 0;
		right: 400px;
		bottom: -400px;
	}
	to {
		opacity: 1;
		right: 0;
		bottom: 0;
	}
}

@keyframes fadeInImg6 {
	from {
		opacity: 0;
		right: -400px;
		bottom: -400px;
	}
	to {
		opacity: 1;
		right: 0;
		bottom: 0;
	}
}
.fadeInImg6 {
	-webkit-animation-name: fadeInImg6;
	animation-name:fadeInImg6;
}
@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		left: -400px;
	}
	to {
		opacity: 1;
		left: 0;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		left: -400px;
	}
	to {
		opacity: 1;
		left: 0;
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name:fadeInLeft;
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		right: -400px;
		bottom:0;
	}
	to {
		opacity: 1;
		right: 0;
		bottom:0;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		right: -400px;
		bottom:0;
	}
	to {
		opacity: 1;
		right: 0;
		bottom:0;
	}
}
.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name:fadeInRight;
}

@-webkit-keyframes Fade-In{
	from {
		opacity: 0;
		/*right: -400px;*/
		/*bottom:0;*/
	}
	to {
		opacity: 1;
		/*right: 0;*/
		/*bottom:0;*/
	}
}

@keyframes Fade-In {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.Fade-In {
	-webkit-animation-name: Fade-In;
	animation-name:Fade-In;
	animation-duration: 0.5s;
	

}
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite; /* Safari 和 Chrome */
 	animation-duration: 3s;


}